<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand text-white" href="/">
        <h3><strong>Galleria</strong></h3>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/"><i class="fa fa-home fa-2x fa-fw" aria-hidden="true"></i> Home <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><i class="fa fa-tags fa-2x fa-fw" aria-hidden="true"></i>
                    Category
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for category in categorys %}
                    <a class="dropdown-item" href="/category/{{category.name}}">{{category.name}}</a>
                    {%endfor%}
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"> <i class="fa fa-map-marker fa-2x fa-fw"
                        aria-hidden="true"></i>
                    Locations
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for location in locations %}
                    <a class="dropdown-item" href="/location/{{location.name}}">{{location.name}}</a>
                    {%endfor%}
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-md-0" action="/search" role="search">
            <input class="form-control mr-sm-2" type="search" placeholder="Search Category " name="imagesearch"
                aria-label="Search">
            <button class="btn btn-search" type="submit"><i class="fa fa-search fa-1x" aria-hidden="true"></i>
                Search</button>
        </form>
    </div>
</nav>